.root {
	-fx-background-image: url("../background/battle.jpg");
	-fx-font-size: 14px;
	-fx-text-fill: #ffffff;
}

.progress-bar {
	-fx-background-radius: 10px;
}

.progress-bar  .bar {
	-fx-background-color: linear-gradient(#39ff39, #004800);
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.05em;
	-fx-background-radius: 10px;
}

.progress-bar .track {
	-fx-background-color: black;
	-fx-background-radius: 10px;
}

#mpBarChara1  .bar {
    -fx-background-color: linear-gradient(#5151ff, #0000df);
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.05em;
	-fx-background-radius: 10px;
}

#mpBarChara2  .bar {
	-fx-background-color: linear-gradient(#5151ff, #0000df);
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.05em;
	-fx-background-radius: 10px;
}

#mpBarChara3  .bar {
	-fx-background-color: linear-gradient(#5151ff, #0000df);
	-fx-background-insets: 1 1 2 1;
	-fx-padding: 0.05em;
	-fx-background-radius: 10px;
}

.pane {
	-fx-background-color: #000000;
	-fx-border-color: #828282;
	-fx-border-width: 2px;
}

.label {
	-fx-font-size: 14px;
	-fx-font-family: "arial black";
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
}

.text-area {
	-fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-font-family: "Arial black";
    -fx-font-weight: bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 6, 0.0, 0, 2);
	-fx-background-color: #000000;
	-fx-border-color: #828282;
	-fx-border-width: 2px;
}
.text-area .content {
    -fx-background-color: #000000;
}
.text-area > .scroll-pane {
    -fx-vbar-policy:always;
}

#buttonBackHome {
	-fx-font-size: 12px;
	-fx-text-fill: white;
	-fx-font-family: "Arial black";
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#b6b6b6, #5f5f5f);
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
	-fx-background-radius: 2;
}

#buttonBackHome:hover {
	-fx-background-color: linear-gradient(#5f5f5f, #b6b6b6);
}

.button {
	-fx-background-color: linear-gradient(#b6b6b6, #5f5f5f);
}

.button:hover {
	-fx-background-color: linear-gradient(#5f5f5f, #b6b6b6);
}